<html lang="en">

        <%- include("./partials/head.ejs") %>
        <body>
        <%- include("./partials/nav.ejs") %>

  <div class="one">
    <h1 class="hed">OOPS,page not found :(</h1>   
</div>
</body>
<%- include("./partials/footer.ejs") %>

</html>