<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <%- include("./partials/nav.ejs") %>

    <div>
      <h1 class="titre">Check our services:</h1>
      <div class="flexy">
        <div class="continue">
          <p>The Right Salesforce® Vendor</p>
          <p>which guides you through the transformation</p>
        </div>

        <div class="continue">
          <p>Tailored Salesforce® Solution</p>
          <p>which solves YOUR problem</p>
        </div>
        <div class="continue">
          <p>Take it to the maximum.</p>
          <h3>
            Get custom roadmap and a quote for your project in as less as 3
            days.
          </h3>
          <p>No commitment required</p>
        </div>
      </div>

      <div>
        <p class="texty">
          Actionable analytics and intelligence to take your ecommerce strategy
          to the next level. Get Actionable Analytics and Intelligence to make
          Better Decisions in Seconds! Complete Control. Global implementation.
          Easy to visualize actions. All-round support. Browse Solutions.
        </p>
      </div>
    </div>
  </body>
  
<%- include("./partials/footer.ejs") %>
</html>
